//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        h3.heading.left
          span.top-nav--logo-wdc Speech Projector POC
        
